<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>

                <h5 class="card-title py-1">
                    {{ todo.task }}
                </h5>

                <p class="card-text text-muted pb-0 mb-0">
                    {{ todo.subject }}
                </p>

                <p class="fst-italic text-muted pt-0 mt-1" style="font-size: 10px;">
                    Created: {{ todo.date.strftime("%Y-%m-%d %H:%M:%S") }}
                </p>

            </div>
            <div>

                {% if todo.done %}
                <span class="badge text-bg-success">
                                                    Done
                                                </span>
                {% else %}
                <span class="badge text-bg-warning">
                                                    Pending
                                                </span>
                {% endif %}

            </div>
        </div>

        {% include "card_buttons.html" %}

    </div>
</div>