<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link href="/static/css/style.css" rel="stylesheet">

  <title>What The Hex</title>
</head>

<body>

{% include "upload.html" %}
{% include "image_card.html" %}
{% include "palette.html" %}
{% include "toast.html" %}

<script>
function copyColor(el) {
  navigator.clipboard.writeText(el.dataset.color);
  const toast = document.getElementById("toast");
  toast.style.backgroundColor = el.dataset.color;
  toast.classList.add("show");

  setTimeout(() => {
    toast.classList.remove("show");
  }, 1200);
}
</script>

</body>
</html>