<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Book</title>
  </head>
  <body>
   <h1>Add book</h1>
    <form action="" method="POST">
      <label style="display:block">Book Name</label>

      <input type="text" name="title" />

      <label style="display:block">Book Author</label>
      <input type="text"  name="author"/>
      <label style="display:block">Rating</label>
      <input type="number" name="rating" />

      <button style="display:block; margin-top:1rem" type="submit">Add Book</button>
    </form>
  </body>
</html>
