

  <div class="position-relative overflow-hidden  ">
    <div class="d-flex  " lc-helper="video-bg">
      <div style="z-index:2; background-color: rgba(0, 0, 0, 0.5);" class="position-absolute w-100 h-100  ">
      </div>

      <video style="z-index:1;object-fit: cover; object-position: 50% 50%;" class="position-absolute w-100 h-100 "
        autoplay="" preload="" muted="" loop="" playsinline="">
        <source src={{input_video}} type="video/mp4">
      </video>
      

      <div style="z-index:3 "
        class="   text-center text-light w-100">
        <section class="py-0">
          <div class="">
            <div editable="">
              <h1 class="fw-bolder display-6 display-md-4 display-lg-2 py-5 ">
                {{input_text}}
              </h1>
            </div>
          </div>
        </section>
      </div>


    </div>
  </div>
  </div>
  </div>
