      <main class="flex-grow-1 d-flex align-items-center justify-content-center" style="background: #f1f3f5;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="card shadow-lg p-4 pt-0 rounded-4 border-0 my-2" style="background-color: #ffffff;">
          <div class="card-body">

            <form method="POST" action="" novalidate>
              {{ form.hidden_tag() }}

              {% for field in form %}
                {% if field.type != 'CSRFTokenField' and field.type != 'SubmitField' %}
                  <div class="mb-4">
                    {{ field.label(class_="form-label mb-2") }}
                    {{ field(class_="form-control ", placeholder=field.label.text) }}
                    {% for error in field.errors %}
                      <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endfor %}

              <!-- Submit -->
              <div class="d-grid pt-4">
                {{ form.submit(class_="btn btn-secondary btn-lg rounded-pill") }}
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>