<div class="card mb-3 shadow-sm border-0">
    <div class="card-body">
        <div class="row align-items-center">

            <div class="col-md-4">
                <strong class="mb-0 fs-4">
                    {{ item.product.product }}
                </strong>
            </div>

            <div class="col-md-2 text-center">
                Quantity: {{ item.quantity }}
            </div>

            <div class="col-md-3 text-start">
                <strong>${{ item.product.price }}</strong>
                {% if item.quantity > 1 %}
                <small class="text-muted">
                    (${{ item.quantity * item.product.price }})
                </small>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="btn-group gap-1">

                    <!-- add -->
                    {% if item.product.stock_quantity > 0 %}

                    <form action="{{ url_for('cart.add', product_id=item.product.id) }}" method="POST">
                        <input name="this_path" type="hidden" value="{{ request.path }}">
                        <input name="quantity" type="hidden" value="1">
                        <button class="btn icon">
                            <i class="bi bi-plus"></i>
                        </button>
                    </form>
                    {% else %}


                    <button class="btn icon text-muted opacity-50" disabled>
                        <i class="bi bi-cart-x"></i>
                    </button>
                    {% endif %}

                    <!-- remove -->
                    <form action="{{ url_for('cart.remove', product_id=item.product.id) }}" method="POST">
                        <input name="this_path" type="hidden" value="{{ request.path }}">
                        <button class="btn icon">
                            <i class="bi bi-dash"></i>
                        </button>
                    </form>

                    <!-- delete -->
                    <form action="{{ url_for('cart.delete', product_id=item.product.id) }}" method="POST">
                        <input name="this_path" type="hidden" value="{{ request.path }}">
                        <button class="btn icon">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>