{% extends "base.html" %}
{% block title %}
Cart
{% endblock %}
{% block content %}

   <h1 class="mb-4 pt-5">
        Cart
    </h1>

    {% if cart.items %}
        {% for item in cart.items %}
            {% include "cart_item.html" %}
        {% endfor %}

        <div class="card mt-4">
            <div class="card-body">
                <strong class="fs-3">
                    Total: ${{ total_price }}
                </strong>
            </div>
        </div>

    {% else %}
        <div class="alert">
            The cart is empty
        </div>

    {% endif %}
{% endblock %}