<div class="card mb-3 shadow-sm border-0">
    <div class="card-body">
        <div class="row align-items-center">

            <div class="col-md-4">
                <strong class="mb-0 fs-4">
                    {{ item.product.product }}
                </strong>
            </div>

            <div class="col-md-2 text-center">
                Antal: {{ item.quantity }}
            </div>

            <div class="col-md-3 text-start">
                <strong>{{ item.product.price }} kr</strong>
                {% if item.quantity > 1 %}
                <small class="text-muted">
                    ({{ item.quantity * item.product.price }} kr)
                </small>
                {% endif %}
            </div>

            <div class="col-md-3">
                <div class="btn-group gap-1">

                    <!-- add -->
                    <form method="POST" action="{{ url_for('add', product_id=item.product.id) }}">
                        <input type="hidden" name="this_path" value="{{ request.path }}">
                        <input type="hidden" name="quantity" value="1">
                        <button class="btn btn-success">
                            <i class="bi bi-plus"></i>
                        </button>
                    </form>

                    <!-- remove -->
                    <form method="POST" action="{{ url_for('remove', product_id=item.product.id) }}">
                        <input type="hidden" name="this_path" value="{{ request.path }}">
                        <button class="btn btn-warning">
                            <i class="bi bi-dash"></i>
                        </button>
                    </form>

                    <!-- delete -->
                    <form method="POST" action="{{ url_for('delete', product_id=item.product.id) }}">
                        <input type="hidden" name="this_path" value="{{ request.path }}">
                        <button class="btn btn-danger">
                            <i class="bi bi-trash"></i>
                        </button>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>