{% extends "base.html" %}
{% block title %}
Cart
{% endblock %}
{% block content %}

   <h1 class="mb-4 pt-5">
        Cart
    </h1>

    {% if cart.items %}
        {% for item in cart.items %}
            {% include "cart_item.html" %}
        {% endfor %}

        <div class="card mt-4">
            <div class="card-body d-flex justify-content-between">
                <strong class="fs-3">
                    Total: ${{ total_price }}
                </strong>


                 <form method="POST" action="{{ url_for('cart.check_out') }}">
                        <input type="hidden" name="this_path" value="{{ request.path }}">
                        <button class="btn icon border">
                           Check out
                        </button>
                    </form>
            </div>
        </div>

    {% else %}
        <div class="alert">
            The cart is empty
        </div>

    {% endif %}
{% endblock %}